.container {
    width: 100%;

    padding:  30px 125px;

    color: #242222;
}

.container .title {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 20px;
}

.container .title h1 {
    font-size: 24px;
    font-weight: 600;

    color: #3A3C93;
}

.container .title p {
    font-size: 16px;
    font-weight: 400;

    color: #242222;
}

.form form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.form form .input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form form .input input {
    width: 469px;

    padding: 12px;

    border: 1px solid #000;
}


input[type="date"],
input[type="time"] {
  width: 100%;
  background-color: #fff;
  color: #000;
  appearance: none; /* tira o estilo nativo */
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none; /* Firefox */
}


.form form .button button {
    padding: 15px 40px;

    border-radius: 10px;
    border: none;

    font-size: 16px;

    background-color: #3A3C93;
    color: #fff;

    transition: opacity 0.3s ease-in-out;
    
    cursor: pointer;

    margin-top: 25px;
}

@media screen and (max-width: 428px) {
    .container {
        padding: 30px 20px;
    }

    .container .title h1 {
        font-size: 20px;
    }

    .form form {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .form form .input {
        width: 100%;
    }

    .form form .input input {
        width: 100%;
    }
}