.container {
    padding: 83px 121px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FFCD01;
    color: #1C1C1C;
}

.container h1 {
    font-size: 42px;
    font-weight: 600;
}